.card {
  // $gutter: $gutter-half;
  display: flex;
  flex-direction: column;
  background: aliceblue;
  // color: $color-default-text;
  text-decoration: none;
  position: relative;
  .img {
    order: -1;
  }
  p {
    font-size: 0.8em;
    color: #494949;
  }
  > * {
    margin: 0;
    // margin-bottom: $gutter;
  }
  > *:not(.img) {
    // padding-left: $gutter;
    // padding-right: $gutter;
  }
}

a.card {
  position: relative;
  top: 0;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.4s, top 0.2s ease-in-out;
  &:hover {
    box-shadow: 2px 2px 4px #d8d8d8;
    top: -4px;
  }
}